.container
  %section
    %h2.detail-title=@article.title
    %p=@article.content

  %section
    .detail-vote
      =link_to pro_article_path(@article,id: params[:id]),:class => 'button button-agree button-detail-vote button-detail-agree', method: :put do
        %i.fa.fa-thumbs-o-up
        =@article.get_upvotes.size
      =link_to con_article_path(@article,id: params[:id]),:class => 'button button-disagree button-detail-vote button-detail-disagree', method: :put do
        %i.fa.fa-thumbs-o-down.fa-flip-horizontal
        =@article.get_downvotes.size

  %section
    %h3 コメント一覧
    .tab-titles.row
      .col-xs-6.tab-agree
        %h4 賛成コメント
      .col-xs-6.tab-disagree
        %h4 反対コメント
    .tab-contents.row
      .col-xs-12.col-md-6.tab-comment-agree
        %ul.comment
          -@article.comments.賛成.each do |comment|
            %li
              =comment.body
      .col-xs-12.col-md-6.tab-comment-disagree
        %ul.comment
          -@article.comments.反対.each do |comment|
            %li
              =comment.body
  %section
    %h3
      コメント投稿
    =form_for([@article, @article.comments.build]) do |f|
      -Comment.statuses.keys.each do |status|
        =f.radio_button :status, status
        = f.label status.to_sym
      %br/
      =f.text_area :body
      .field
        =f.submit 'コメント送信', :class => 'button button-post'