input,button,textarea,select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="checkbox"]{
  -webkit-appearance: checkbox;
}

input[type="submit"]{
  border-top: none;
  border-right:none;
  border-left: none;
}

input[type="text"], input[type="email"],input[type="password"],textarea, select {
  border-radius: 5px;
  outline: none;
  border: 1px solid #aaa;
  -webkit-transition: all .3s;
  transition: all .3s;
  &:focus{
  box-shadow: 0 0 7px #1abc9c;
  border: 1px solid #1abc9c;
  }
}
.form-wrap{
  li{
    margin-bottom: 20px;
  }
}

.form-control{
  width: 100%;
  padding: 10px;
  background: #DFDFDF;
}

.form-inner{
  background: $white;
  padding-bottom: 20px;
}

.new_user{
  padding: 0 20px;
}

.form-title{
  text-align: center;
  padding-top: 20px;
}

.under-link{
  color: $black;
  font-size: .8rem;
  &:hover{
    color: $color-hover;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
}