#contents{
  padding-top:77px;
}

.header{
  position: fixed;
  background: $color-background-body;
  width: 100%;
  z-index: 9999;
}

.header-top-wrap{
  margin: 10px 0;
  position: relative;
  z-index: 99;
  h1{
    display: inline-block;
  }
}

.menu-wrap{
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 8px;
}

.nav-content{
  top: 77px;
  position: absolute;
  right: -230px;
  width: 230px;
  background: $color-background-body;
  z-index: 888;
  -webkit-transition: all .3s linear 0s;
  transition: all .3s linear 0s;
  ul{
    border-top: 1px dotted $color-grey-light;
    li {
      border-bottom: 1px dotted $color-grey-light;
      list-style: none;
      a{
        color: $black;
        display: block;
        padding: 10px 0 10px 10px;
        text-decoration: none;
        background: $color-background-body;
        -webkit-transition: all .15s linear;
           -moz-transition: all .15s linear;
            -ms-transition: all .15s linear;
             -o-transition: all .15s linear;
                transition: all .15s linear;
        &:hover{
          background: $white;
        }
      }
    }
  }
}


.is-hamberger-active{
  right: 0;
  position: fixed;
}

.overlay{
  position: fixed;
  background: $black;
  display: none;
  opacity: .6;
  z-index: 100;
  width: 100%;
  height: 100%;
}


.hamberger-menu-tigger{
  position: absolute;
  right: 0;
  top: 0;
  border: 2px solid $color-header-top;
  border-radius: 4px;
  width: 44px;
  height: 44px;
  cursor: pointer;
    span{
      position: absolute;
      height: 3px;
      display: inline-block;
      background: $color-header-top;
      left: 5px;
      right: 5px;
      &:nth-of-type(1){
        top: 8px;
      }
      &:nth-of-type(2){
        top: 18px;
      }
      &:nth-of-type(3){
        bottom: 8px;
      }
    }
}


.tabs-menu{
  background: $color-main;
  li{
    list-style: none;
    text-align: center;
    display: block;
    border-right:1px dotted $color-background-body;
    width: 25%;
    float: left;
    &:hover{
      background: $color-hover;
    }
    &:nth-of-type(1){
      border-left:1px dotted $color-background-body;
    }
    a{
      display: block;
      padding: 7px 0;
      text-decoration: none;
      color: $white;
      font-size: 0.8rem;
    }
  }
}

.is-menu-active{
  background: $color-hover;
  position: relative;
  &:before{
    content: "";
    display: inline-block;
    border: 8px solid transparent;
    border-bottom-color: $color-background-body;
    position: absolute;
    left:45%;
    bottom: 0;
  }
}

.tab-menu-icon{
  font-size:1.5rem;
  margin-bottom: 2px;
  display: block;
}

.icon-agree{
  color: $color-agree;
  font-size: 1.8rem;
}

.icon-disagree{
  color: $color-disagree;
  font-size: 1.8rem;
}

.icon-fav-on{
  color:#E72051;
  font-size: 1.8rem;
}

.icon-fav-off{
  color:#AAB8C2;
  font-size: 1.8rem;
  &:hover{
    color:#E72051;
  }
}