@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Lobster');

//Color
$color-main:               #04A38B;
$color-hover:              #04c8ab;
$color-header-top:         #384F66;
$color-agree:              #3D598E;
$color-disagree:           #F15B33;
$color-background-body:    #F3F3F1;
$color-grey-light:         #7f7f7f;
$white:                    #FFF;
$black:                    #222;

//Typography
$font-size-base:           16px;
$font-size-s:              0.8rem;
$font-size-big:            2rem;
$font-size-medium:         1.3rem;

//$font-family
$font-family-global:      'Hiragino Kaku Gothic ProN','メイリオ', sans-serif;
$font-family-h1:          'Lobster', cursive;
//Common Style
*{
  box-sizing: border-box;
}
img{
  max-width: 100%;
}
body{
  background: $color-background-body;
  color: $black;
  font-size:$font-size-base;
  font-family: $font-family-global;
  line-height: 1.8;
}
ul{
  margin-top: 0;
  margin-bottom: 0;
}
h1{
  margin: 0;
}
h2{
  font-size: $font-size-medium;
}

section{
  background: $white;
  margin:20px 0;
  padding: 15px;
}

.button{
  display: inline-block;
  color: $white;
  text-decoration: none;
}

.header-logo {
  font-size: $font-size-big;
  font-family: $font-family-h1;
  color: $color-header-top;
  text-decoration: none;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}