
.container
  .header-top-wrap
    %h1
      =link_to root_path, :class => 'header-logo' do
        %i.fa.fa-thumbs-o-up.icon-agree
        For or Against
        %i.fa.fa-thumbs-o-down.fa-flip-horizontal.icon-disagree
    .menu-wrap
      =link_to '投稿する', articles_new_path, :class => 'button button-green button-post mg-r-55'
      .hamberger-menu-tigger
        %span
        %span
        %span
%nav.nav-content
  %ul
    - if user_signed_in?
      %li= link_to 'マイページ', user_show_path(current_user.id)
      %li= link_to 'ログアウト', destroy_user_session_path, :method => :delete
    - else
      %li= link_to '新規登録', new_user_registration_path
      %li= link_to 'ログイン', new_user_session_path