.container
  %h1 For or Against
  %nav.row.tabs-menu
    %ul.col-md-8.col-md-offset-2.col-xs-12
      .row
        %li.col-xs-3
          %a{:href => "#"} 人気順
        %li.col-xs-3
          %a{:href => "#"} 新着順
        %li.col-xs-3
          %a{:href => "#"} お気に入り
        %li.col-xs-3
          %a{:href => "#"} 検索